<configuration scan="false">
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>messages.log</file>
		<append>false</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="ALL">
		<appender-ref ref="FILE"/>
	</root>

</configuration>
